<div class='text'>
  <h2>Looks like I've forgotton something..</h2>
  <p>Type in your phone number and I'll text you my info. No spam :)</p>
</div>

<div class='email'></div>
<form action='/card/email' method='get'>
  <input id='emailbox' type="string" name="email" placeholder='Email'>
  <button class="btn btn-medium btn-primary">Go!</button>
</form>

<div class='phone'>
  <form action='/card/sms' method='get'>
    <input id='phonebox' type="string" name="phone" placeholder='Digits'>
    <button class="btn btn-medium btn-primary">Go!</button>
  </form>
</div>

