<h2>Looks like I've forgotton something..</h2>
<p>Type in your email or phone number and I'll send you my info.</p>

<form action='/card/email' method='get'>
  <input type="string" name="email" placeholder='Email'>
  <button class="btn btn-medium btn-primary">Go!</button>
</form>

<form action='/card/sms' method='get'>
  <input type="string" name="phone" placeholder='Phone Number'>
  <button class="btn btn-medium btn-primary">Go!</button>
</form>
